.main{
    width: 80%;
    margin: auto;
    margin-top: 4vh;
}

.categoryContainer{
    display: flex;
    justify-content: space-between;
}

.singleCategory{
    width: 15%;
    height: 17vh;
    border: 1px solid lightblue;
    background-color: rgb(246, 249, 249);
    border-radius: 10px;
    padding-top: 25px;
}

.singleCategory:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    cursor: pointer;
}

.categoryImage{
    width: 50%;
    height: 50%;
}

.name{
    font-weight: 100;
}