.main{
    width: 100%;
}

.categoryDiv{
    width: 8%;
    border: 1px solid black;
    margin: auto;
    margin-top: 1vh;
    text-align: left;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(244, 247, 250);
    border: 1px solid gray;
}

.cancel:hover{
    color: red;
    cursor: pointer;
}

.flexDiv{
    width: 95%;
    margin: auto;
    margin-top: 1vh;
    display: flex;
    padding-bottom: 15vh;
    justify-content: space-between;
}

.filterDiv{
    width: 20%;
    height: 100%;
}

.productDiv{
    width: 77%;
    height: 100%;
    display: grid;
    gap: 2% 2%;
    grid-template-columns: repeat(3,32%);
}

.rentDiv{
    width: 90%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    border: 1px solid rgb(205, 203, 203);
}

.rentButtonDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rentButton{
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border-color: lightseagreen;
    color: black;
    width: 30%;
}

.rentButton:hover{
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sortDiv{
    margin-top: 2vh;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border: 1px solid rgb(205, 203, 203);
    text-align: left;
}

.sortHeadingDiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.resetButton{
    padding: 5px;
    background-color: transparent;
    border: 1px solid rgb(192, 192, 192);
    font-weight: 500;
    letter-spacing: 1px;
}

.resetButton:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: red;
    border: none;
}

.sortButton{
    margin-bottom: 1vh;
    padding: 5px;
    background-color: transparent;
    border: 1px solid rgb(205, 204, 204);
    width: 99%;
    letter-spacing: 1px;
    font-family:'Courier New', Courier, monospace;
}

.sortButton:hover{
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}

.sortHeading{
    font-weight: 500;
}

.suggestionDiv{
    width: 90%;
    margin-top: 2vh;
    padding: 0% 5% 10% 5%;
    border: 2px solid rgb(109, 216, 252);
    background-color: transparent;
}

.notSuggestionDiv{
    width: 90%;
    margin-top: 2vh;
    padding: 0% 5% 10% 5%;
    border: 2px solid rgb(109, 216, 252);
    background-color: rgb(243, 250, 252);
}

.suggestionHeading{
    letter-spacing: 1px;
    text-align: justify;
}

.suggestionDesc{
    letter-spacing: 1px;
    font-size: 13px;
    text-align: justify;
    color: rgb(70, 70, 70);
    margin-top: -1vh;
}

.suggestionInputDiv{
    width: 100%;
    height: 5vh;
    display: flex;
    border: 2px solid rgb(109, 216, 252);
}

.suggestionInput{
    width: 100%;
    border: none;
    background-color: transparent;
}

.notSuggestionInput{
    width: 100%;
    border: none;
}

.notSuggestionInput:focus{
    outline: none;
    border: none;
}

.suggestionInput:focus{
    outline: none;
    border: none;
}

.suggestionInput::placeholder{
    letter-spacing: 1px;
}

.submit{
    border: none;
    background-color: white;
    color: rgb(3, 174, 231);
}

.notSubmit{
    border: none;
    background-color: transparent;
    color: rgb(3, 174, 231);
}

.notSubmit:hover{
    cursor: pointer;
}

.notSubmit:disabled{
    cursor: not-allowed;
}

.submit:disabled{
    cursor: not-allowed;
    background-color: transparent;
}

.thanks{
    font-size: 13px;
    text-align: justify;
}

.image{
    width: 100%;
    height: 35vh;
    filter: brightness(0.7);
}

.notImage{
    width: 100%;
    height: 35vh;
}

.card{
    border: 1px solid rgb(225, 224, 224);
    padding-bottom: 8%;
}

.card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nameDiv{
    width: 90%;
    margin: auto;
    height: 10%;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgb(223, 219, 219);
}

.availableDiv{
    width: 90%;
    text-align: left;
    margin: auto;
    height: 3.9vh;
    margin-bottom: 2.9vh;
}

.availableHeading{
    font-size: 2.3vh;
    letter-spacing: 1px;
    margin: auto;
    color: #34a3b1;
}

.price{
    font-size: 13px;
}

.monthly_rent{
    font-weight: 600;
    font-size: 20px;
}

.name{
    margin: auto;
    margin-top: 5%;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 1px;
}

.infoDiv{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
}

.deliveryDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    letter-spacing: 1px;
}

.deliveryImage{
    width: 25%;
}

.quickDiv{
    margin-bottom: 2vh;
}

.quickBtn{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    letter-spacing: 1px;
    color: #26C6DA;
    border: 1px solid #26C6DA;
    border-radius: 40px;
    background-color: transparent;
}

.quickBtn:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.quickViewCardDiv{
    width: 70%;
    height: 50vh;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    display: flex;
    z-index: 10;
    position: fixed;
    top: 25vh;
    left: 25vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 5000px;
}

.quickViewCardImageDiv{
    width: 50%;
    height: 100%;
}

.quickViewImage{
    width: 100%;
    height: 100%;
}

.quickViewDetailsDiv{
    width: 50%;
    padding-left: 3%;
    padding-right: 1%;
    padding-bottom: 5%;
    text-align: left;
    background-color: white;
}

.quickViewHeading{
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
}

.tenureDiv{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

.tenureHeading{
    letter-spacing: 1px;
}

.tenureButtonDiv{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.tenureButton{
    border: 1px solid green;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
}

.tenureButton:hover{
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cancelBtn{
    width: 3%;
    margin-left: auto;
}

.cancelBtn:hover{
    color: red;
    cursor: pointer;
}

.quickPricesDiv{
    display: flex;
    justify-content: center;
    width: 90%;
}

.quickPrices{
    border: 1px solid rgb(218, 217, 217);
    width: 40%;
    margin-top: 3vh;
    text-align: center;
}

.quickPriceHeading{
    font-size: 10px;
    color: rgb(95, 94, 94);
}

.quickPriceText{
    font-weight: 600;
    letter-spacing: 1px;
}

.ruppeeSymbol{
    font-weight: 400;
    font-size: 10px;
}

.quickButtonsDiv{
    width: 90%;
    height: 8vh;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.viewDetailsBtn{
    padding: 10px;
    color: red;
    background-color: white;
    border: 1px solid red;
    width: 50%;
}

.viewDetailsBtn:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addToCartBtn{
    padding: 10px;
    color: white;
    background-color: red;
    border: 1px solid red;
    width: 45%;
}

.addToCartBtn:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.doLoginText{
    font-size: 12px;
    letter-spacing: 1px;
}


.profileDiv {
    width: 20%;
    padding: 10px;
    position: fixed;
    left: 76%;
    background-color: white;
    z-index: 15;
    text-align: left;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 5000px;
  }
  
  .logoutDiv {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  .logoutBtn {
    width: 100%;
    margin: auto;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: white;
    color: red;
    border: 1px solid red;
  }
  
  .logoutBtn:hover {
    cursor: pointer;
    background-color: red;
    color: white;
    border: 1px solid white;
  }
  
  .profileNameDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
  }
  
  .profileName {
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .cancelProfile:hover{
    cursor: pointer;
    color: red;
  }
  
  .confirmLogoutDiv{
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px 5000px;
    height: 40vh;
    position: fixed;
    z-index: 5;
    top: 25vh;
    display: flex;
    left: 45vh;
  }
  
  .logoutImageDiv{
    width: 60%;
  }
  
  .logoutImage{
    width: 100%;
    height: 100%;
  }
  
  .logoutInfoDiv{
    text-align: left;
    background-color: rgb(255, 255, 255);
    width: 40%;
    padding-top: 10%;
  }
  
  .logoutHeading{
    color: black;
    font-size: 20px;
  }
  
  .logoutButtonDiv{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 4vh;
  }
  
  .yesLogoutBtn{
    padding: 10px;
    font-size: 15px;
    color: red;
    border: 1px solid red;
    background-color: white;
    width: 40%;
  }
  
  .noLogoutBtn{
    padding: 10px;
    font-size: 15px;
    color: green;
    border: 1px solid green;
    background-color: white;
    width: 40%;
  }
  
  .noLogoutBtn:hover{
    cursor: pointer;
    color: white;
    background-color: green;
  }
  
  .yesLogoutBtn:hover{
    cursor: pointer;
    color: white;
    background-color: red;
  }

  @media all and (max-width:1050px){
    .main{
        width: 100%;
    }
    
    .categoryDiv{
        width: 8%;
        border: 1px solid black;
        margin: auto;
        margin-top: 1vh;
        text-align: left;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        background-color: rgb(244, 247, 250);
        border: 1px solid gray;
    }
    
    .cancel:hover{
        color: red;
        cursor: pointer;
    }
    
    .flexDiv{
        width: 95%;
        margin: auto;
        margin-top: 1vh;
        display: flex;
        padding-bottom: 15vh;
        justify-content: space-between;
    }
    
    .filterDiv{
        width: 20%;
        height: 100%;
    }
    
    .productDiv{
        width: 77%;
        height: 100%;
        display: grid;
        gap: 2% 2%;
        grid-template-columns: repeat(3,32%);
    }
    
    .rentDiv{
        width: 90%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: left;
        border: 1px solid rgb(205, 203, 203);
    }
    
    .rentButtonDiv{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .rentButton{
        padding: 5px;
        border-radius: 5px;
        background-color: transparent;
        border-color: lightseagreen;
        color: black;
        width: 30%;
    }
    
    .rentButton:hover{
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    
    .sortDiv{
        margin-top: 2vh;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        border: 1px solid rgb(205, 203, 203);
        text-align: left;
    }
    
    .sortHeadingDiv{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    
    .resetButton{
        padding: 5px;
        background-color: transparent;
        border: 1px solid rgb(192, 192, 192);
        font-weight: 500;
        letter-spacing: 1px;
    }
    
    .resetButton:hover{
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: red;
        border: none;
    }
    
    .sortButton{
        margin-bottom: 1vh;
        padding: 5px;
        background-color: transparent;
        border: 1px solid rgb(205, 204, 204);
        width: 99%;
        letter-spacing: 1px;
        font-family:'Courier New', Courier, monospace;
    }
    
    .sortButton:hover{
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: none;
    }
    
    .sortHeading{
        font-weight: 500;
    }
    
    .suggestionDiv{
        width: 90%;
        margin-top: 2vh;
        padding: 0% 5% 10% 5%;
        border: 2px solid rgb(109, 216, 252);
        background-color: transparent;
    }
    
    .notSuggestionDiv{
        width: 90%;
        margin-top: 2vh;
        padding: 0% 5% 10% 5%;
        border: 2px solid rgb(109, 216, 252);
        background-color: rgb(243, 250, 252);
    }
    
    .suggestionHeading{
        letter-spacing: 1px;
        text-align: justify;
    }
    
    .suggestionDesc{
        letter-spacing: 1px;
        font-size: 13px;
        text-align: justify;
        color: rgb(70, 70, 70);
        margin-top: -1vh;
    }
    
    .suggestionInputDiv{
        width: 100%;
        height: 5vh;
        display: flex;
        border: 2px solid rgb(109, 216, 252);
    }
    
    .suggestionInput{
        width: 100%;
        border: none;
        background-color: transparent;
    }
    
    .notSuggestionInput{
        width: 100%;
        border: none;
    }
    
    .notSuggestionInput:focus{
        outline: none;
        border: none;
    }
    
    .suggestionInput:focus{
        outline: none;
        border: none;
    }
    
    .suggestionInput::placeholder{
        letter-spacing: 1px;
    }
    
    .submit{
        border: none;
        background-color: white;
        color: rgb(3, 174, 231);
    }
    
    .notSubmit{
        border: none;
        background-color: transparent;
        color: rgb(3, 174, 231);
    }
    
    .notSubmit:hover{
        cursor: pointer;
    }
    
    .notSubmit:disabled{
        cursor: not-allowed;
    }
    
    .submit:disabled{
        cursor: not-allowed;
        background-color: transparent;
    }
    
    .thanks{
        font-size: 13px;
        text-align: justify;
    }
    
    .image{
        width: 100%;
        height: 30vh;
        filter: brightness(0.7);
    }
    
    .notImage{
        width: 100%;
        height: 25vh;
    }
    
    .card{
        border: 1px solid rgb(225, 224, 224);
        padding-bottom: 8%;
    }
    
    .card:hover{
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    
    .nameDiv{
        width: 90%;
        margin: auto;
        height: 10%;
        text-overflow: ellipsis;
        border-bottom: 1px solid rgb(223, 219, 219);
    }
    
    .availableDiv{
        width: 90%;
        text-align: left;
        margin: auto;
        height: 3.9vh;
        margin-bottom: 2.9vh;
    }
    
    .availableHeading{
        font-size: 1vh;
        letter-spacing: 1px;
        margin: auto;
        color: #34a3b1;
    }
    
    .price{
        font-size: 13px;
    }
    
    .monthly_rent{
        font-weight: 600;
        font-size: 20px;
    }
    
    .name{
        margin: auto;
        margin-top: 5%;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        letter-spacing: 1px;
    }
    
    .infoDiv{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        align-items: center;
    }
    
    .deliveryDiv{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 45%;
        letter-spacing: 1px;
    }
    
    .deliveryImage{
        width: 25%;
    }
    
    .quickDiv{
        margin-bottom: 2vh;
    }
    
    .quickBtn{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 90%;
        letter-spacing: 1px;
        color: #26C6DA;
        border: 1px solid #26C6DA;
        border-radius: 40px;
        background-color: transparent;
    }
    
    .quickBtn:hover{
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    
    .quickViewCardDiv{
        width: 70%;
        height: 50vh;
        background-color: white;
        margin: auto;
        border-radius: 10px;
        display: flex;
        z-index: 10;
        position: fixed;
        top: 25vh;
        left: 25vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 5000px;
    }
    
    .quickViewCardImageDiv{
        width: 50%;
        height: 100%;
    }
    
    .quickViewImage{
        width: 100%;
        height: 100%;
    }
    
    .quickViewDetailsDiv{
        width: 50%;
        padding-left: 3%;
        padding-right: 1%;
        padding-bottom: 5%;
        text-align: left;
        background-color: white;
    }
    
    .quickViewHeading{
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    
    .tenureDiv{
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
    }
    
    .tenureHeading{
        letter-spacing: 1px;
    }
    
    .tenureButtonDiv{
        width: 40%;
        display: flex;
        justify-content: space-between;
    }
    
    .tenureButton{
        border: 1px solid green;
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        width: 30%;
    }
    
    .tenureButton:hover{
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    .cancelBtn{
        width: 3%;
        margin-left: auto;
    }
    
    .cancelBtn:hover{
        color: red;
        cursor: pointer;
    }
    
    .quickPricesDiv{
        display: flex;
        justify-content: center;
        width: 90%;
    }
    
    .quickPrices{
        border: 1px solid rgb(218, 217, 217);
        width: 40%;
        margin-top: 3vh;
        text-align: center;
    }
    
    .quickPriceHeading{
        font-size: 10px;
        color: rgb(95, 94, 94);
    }
    
    .quickPriceText{
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    .ruppeeSymbol{
        font-weight: 400;
        font-size: 10px;
    }
    
    .quickButtonsDiv{
        width: 90%;
        height: 8vh;
        margin: auto;
        margin-top: 5vh;
        display: flex;
        justify-content: space-between;
    }
    
    .viewDetailsBtn{
        padding: 10px;
        color: red;
        background-color: white;
        border: 1px solid red;
        width: 50%;
    }
    
    .viewDetailsBtn:hover{
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .addToCartBtn{
        padding: 10px;
        color: white;
        background-color: red;
        border: 1px solid red;
        width: 45%;
    }
    
    .addToCartBtn:hover{
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .doLoginText{
        font-size: 12px;
        letter-spacing: 1px;
    }
    
    
    .profileDiv {
        width: 20%;
        padding: 10px;
        position: fixed;
        left: 76%;
        background-color: white;
        z-index: 15;
        text-align: left;
        letter-spacing: 1px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 5000px;
      }
      
      .logoutDiv {
        width: 100%;
        justify-content: space-around;
        align-items: center;
      }
      
      .logoutBtn {
        width: 100%;
        margin: auto;
        padding: 10px;
        font-size: 15px;
        letter-spacing: 1px;
        background-color: white;
        color: red;
        border: 1px solid red;
      }
      
      .logoutBtn:hover {
        cursor: pointer;
        background-color: red;
        color: white;
        border: 1px solid white;
      }
      
      .profileNameDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4vh;
      }
      
      .profileName {
        width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      
      .cancelProfile:hover{
        cursor: pointer;
        color: red;
      }
      
      .confirmLogoutDiv{
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px 5000px;
        height: 40vh;
        position: fixed;
        z-index: 5;
        top: 25vh;
        display: flex;
        left: 45vh;
      }
      
      .logoutImageDiv{
        width: 60%;
      }
      
      .logoutImage{
        width: 100%;
        height: 100%;
      }
      
      .logoutInfoDiv{
        text-align: left;
        background-color: rgb(255, 255, 255);
        width: 40%;
        padding-top: 10%;
      }
      
      .logoutHeading{
        color: black;
        font-size: 20px;
      }
      
      .logoutButtonDiv{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 4vh;
      }
      
      .yesLogoutBtn{
        padding: 10px;
        font-size: 15px;
        color: red;
        border: 1px solid red;
        background-color: white;
        width: 40%;
      }
      
      .noLogoutBtn{
        padding: 10px;
        font-size: 15px;
        color: green;
        border: 1px solid green;
        background-color: white;
        width: 40%;
      }
      
      .noLogoutBtn:hover{
        cursor: pointer;
        color: white;
        background-color: green;
      }
      
      .yesLogoutBtn:hover{
        cursor: pointer;
        color: white;
        background-color: red;
      }
  }

  @media all and (max-width:450px){
    .categoryDiv{
        width: 18%;
        border: 1px solid black;
        margin: auto;
        margin-top: 1vh;
        text-align: left;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        background-color: rgb(244, 247, 250);
        border: 1px solid gray;
    }
    .notImage{
        height: 10vh;
    }

    .sortButton{
        margin-bottom: 1vh;
        padding: 1px;
        background-color: transparent;
        border: 1px solid rgb(205, 204, 204);
        width: 99%;
        font-size: 8px;
        font-family:'Courier New', Courier, monospace;
    }
    .monthly_rent{
        font-weight: 600;
        font-size: 10px;
    }
  }